%%-*- mode: erlang-*-
{erl_opts, [
            debug_info,
            {parse_transform, lager_transform},
            {lager_truncation_size, 1024}
           ]}.

{ct_opts, [
           {sys_config, "config/test.sys.config"}
          ]}.

{deps, [{lager, "3.5.0"},
        {recon, "2.3.2"},
	{mysql, ".*", {git, "https://github.com/mysql-otp/mysql-otp", {tag, "1.8.0"}}},
	{jiffy, {git, "https://github.com/davisp/jiffy.git", {tag, "1.1.1"}}},
	{erlware_commons, {git, "https://github.com/erlware/erlware_commons.git", {tag, "v1.6.0"}}},
	{syn, {git, "https://github.com/ostinelli/syn.git", {tag, "3.3.0"}}},
	{bingo, {git, "https://github.com/mohsenmoqadam/bingo.git", {branch, "main"}}}
       ]}.

{escript_main_app, luna}.
{escript_name, "luna_tools"}.
{escript_emu_args, "%%! -escript main luna_tools\n"}.
{escript_incl_apps, [luna, lager, uuid]}.

{profiles, [
            {test, [
                    {erl_opts, [{d, 'PROFILE', test},
                                {d, 'PROFILE_TEST'},
                                {lager_truncation_size, 10240}]},
                    {deps, [{meck, "0.9.1"}]}
                   ]},
            {dev, [
                   {erl_opts, [{d, 'PROFILE', dev},
                               {d, 'PROFILE_DEV'},
                               {lager_truncation_size, 10240}]},
                   {relx, [
                           {release,
                            {luna, "luna-version"},
                            [ssl,
                             mnesia,
                             recon,
                             lager,
			     mysql,
			     jiffy,
			     erlware_commons,
			     syn,
			     bingo,
                             luna,
                             {wx, load},
                             {observer, load},
                             {runtime_tools, load}
                            ]},
                           {dev_mode, true},
                           {include_erts, false},
                           {vm_args, "config/dev.vm.args"},
                           {sys_config, "config/dev.sys.config"}
                          ]}
                  ]},
            {stage, [
                     {erl_opts, [{d, 'PROFILE', stage},
                                 {d, 'PROFILE_STAGE'},
                                 {lager_truncation_size, 10240}]},
                     {relx, [
                             {release,
                              {luna, "luna-version"},
                              [ssl,
                               mnesia,
                               recon,
                               lager,
			       mysql,
			       jiffy,
			       erlware_commons,
			       syn,
			       bingo,
                               luna,
                               {wx, load},
                               {observer, load},
                               {runtime_tools, load}
                              ]},
                             {dev_mode, false},
                             {include_erts, true},
                             {vm_args, "config/stage.vm.args"},
                             {sys_config, "config/stage.sys.config"}
                            ]}
                    ]},
            {prod, [
                    {erl_opts, [{d, 'PROFILE', prod},
                                {d, 'PROFILE_PROD'}]},
                    {relx, [
                            {release,
                             {luna, "luna-version"},
                             [ssl,
                              mnesia,
                              recon,
                              lager,
			      mysql,
			      jiffy,
			      erlware_commons,
			      syn,
			      bingo,
                              luna
                             ]},
                            {overlay,
                             [{copy, "priv", "priv"}]},
                            {dev_mode, false},
                            {include_erts, true},
                            {vm_args, "config/prod.vm.args"},
                            {sys_config, "config/prod.sys.config"}
                           ]}
                   ]},
	    {dock, [
                    {erl_opts, [{d, 'PROFILE', prod},
                                {d, 'PROFILE_PROD'}]},
                    {relx, [
                            {release,
                             {luna, "luna-version"},
                             [ssl,
                              mnesia,
                              recon,
                              lager,
			      mysql,
			      jiffy,
			      erlware_commons,
			      syn,
			      bingo,
                              luna
                             ]},
                            {overlay,
                             [{copy, "priv", "priv"}]},
                            {dev_mode, false},
                            {include_erts, true},
                            {vm_args, "config/dock.vm.args"},
                            {sys_config, "config/dock.sys.config"}
                           ]}
                   ]}
           ]}.

{relx, [
        {release,
         {luna, "luna-version"},
         [ssl,
          mnesia,
          recon,
          lager,
	  mysql,
	  jiffy,
	  erlware_commons,
	  syn,
	  bingo,
          luna,
          {wx, load},
          {observer, load},
          {runtime_tools, load}
         ]},
        {overlay,
         [{copy, "priv", "priv"}]},
        {dev_mode, true},
        {include_erts, false},
        {extended_start_script, true},
        {vm_args, "config/vm.args"},
        {sys_config, "config/sys.config"}
       ]}.

